
@supports (display: flex) {

		body{ 
			display: flex;
			justify-content: center;
			flex-direction: column;
		 }

	}

/*--------------------------------------------------------------
nav
--------------------------------------------------------------*/

nav{
	
	.burger{
			width: 60px;
			height:60px;
		    background-position: 50% 50%;
		    position: fixed;
		  
		}		

   	.icon-burgerStar_opt-copy{
   		display:none;
   	}
	
	.icon-burgerStar_opt{

		 
  		transition: all 0.3s ease-in-out ;
  		&:hover{
  			 transform:rotate(350deg);
  			 cursor:pointer;
  		}
   	}



	ul{
		list-style: none;
	    display:none;
		background-color:$black;
		height: 100vh;
		width:70vw;
		padding-top: 129px;
		padding-left: 30px;



		li{
			h2{
				line-height:40px;
				color:$lightgrey;
			 &:hover {
				color: $red;
				cursor:pointer;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
header
--------------------------------------------------------------*/

header{
	
    .banner{
        min-height: 480px;
        margin-bottom: 20px;
		background-position: 70% 50%;
		
	

		.title{
			max-width:10%;
			padding: 50px 20px 0 20px;

			h1 { 
				color: $black;
				font-size: 3em;
				line-height: 50px;
				font-weight: 700;

	 			}


			 h2 {
			    font-weight: 700;
				color: $black;
			 }

 		}
	}
 }

/*--------------------------------------------------------------
About and co-work
--------------------------------------------------------------*/


.about, .co-work {

	background-color: $lightblue;
	padding: 0px 20px 25px;


h2{
	text-transform: uppercase;
	font-weight: 700;
	color:white;
}

 button {
	 @extend %button-style-simple;
}

	.about-more-text{
		display:none;
	}

}


/*--------------------------------------------------------------
services
--------------------------------------------------------------*/

.services {

	


		.service-header-wrap-right{
			float:right;
			padding-top: 10px;
		
	}
		.service-header-wrap-left{
			float:left;
			padding-top: 10px;
		

	}
  		.service-text-right{
    	text-align: right;
    }

	.icon {
		height: 110px;
		width: 170px;
		background-position: 50% 20%;
		margin: 0 auto;

	}

	.icon-recording-cloud{
		margin-top: -15px;
	}

	h3{
		margin-top: 5px;
	}
	
	h2{
		text-transform: uppercase;
		font-weight: 700;
		color:$black;
		padding: 0px 20px ;
	
		

	}

	article{

		border: 1px solid black;
		padding: 20px 20px 25px;


	}



	button {
	    @extend %button-style-simple ;
		}
        
  .service-more-text{
  	display:none;
  }
}









