@supports (grid-area: auto) {



    @media screen and (min-width: 400px) {



        .header-for-mobile {
            display: none;
        }


        .header-for-desktop {
            display: block;


            .grid-container {
				margin:20px;
                display: grid;
                grid-template-columns: repeat(16, 1fr);
                grid-template-rows: 8em 8em auto;
                grid-gap: 0px;

				.item {
				    display: grid;
				    justify-content: center;
				    align-items: center;
				    grid-gap: 5px;
				    padding: 5px;
					background-color: transparent;
					}
				


				.item1{

				grid-column: 1/4;
				// background-color:red;
				display:flex;
				justify-content:center;
				align-items:flex-start;

				}

				.item2{
				
				grid-column: 4/7;
				// background-color:green;
				display:flex;
				justify-content:center;
				align-items:flex-end;

				}


				.item3{

				grid-column: 7/11;
				// background-color:yellow;
				grid-row:1/6;
					display:flex;
				justify-content:center;
				align-items:center;

				}

				.item4{

				grid-column: 11/14;
				// background-color:red;
				display:flex;
				justify-content:center;
				align-items:flex-start;

				}

				.item5{

				grid-column: 14/17;
				// background-color:green;
					display:flex;
				justify-content:center;
				align-items:center;

				}

		


				.item6{

				grid-column: 1/4;
				grid-row:2/3;
				
				display:flex;
				justify-content:center;
				align-items:flex-end;

				}

				.item7{

				grid-column: 4/7;
				grid-row:2/3;
				
				display:flex;
				justify-content:center;
				align-items:flex-start;

				}


				.item8{

				grid-column: 11/14;
				grid-row:2/3;
				
				display:flex;
				justify-content:center;
				align-items:flex-end;

				}

				.item9{

				grid-column: 14/17;
				grid-row:2/3;
				
				display:flex;
				justify-content:center;
				align-items:flex-start;

				}
		

			



            }




        }



    }

}
