@supports (grid-area: auto) {

@media screen and (min-width: 751px) and (max-width:1100px){

    h1{
        font-size:2.4em;
       
     }
    #title-desk{
        
        background-color:transparent;
    }

    #grid-container{
        height: 80vh;
    }

    #item3{
        align-items: center;
    }

}

 @media screen and (min-width: 751px) {

        /*--------------------------------------------------------------
header desktop
 --------------------------------------------------------------*/
    @supports not ( writing-mode: vertical-lr) {
       .title-desk{
          display: block;
          margin-top:-10px;
          margin-left: 0px;
          line-height: 20px;
          width:100vw;
          z-index:1;

          }

           .title-desktop {

            text-align: left;
            padding: 0 90px;

        }
      }
        

        .wrap-all{
            margin-left:74px;
        }

        .title-desk{

             writing-mode: vertical-lr;
             text-orientation: sideways-right;
             display: block;
             position:fixed;
             height:100vh;
             transform: rotate(180deg);
             background-color: white;
             border-left: 3px solid $text;
              z-index:1;

        }
      
           .title-desktop {
            padding-right: 10px;
            padding-bottom: 100px;
            text-align: right;
            line-height: 10px;
             animation:appear 2s forwards;
        }


        .open {
            margin: 0;
            width:100%;

            li{
                text-align: center;
               

            }
        }

     
        .header-for-mobile {
            display: none;
        }

        .header-for-desktop {
            display: block;
            margin: 10px auto;
             max-width: 1800px;
           
           

            .grid-container {
                display: grid;
                grid-template-columns: repeat(16, 1fr);
                grid-template-rows:auto;
                grid-gap: 0;
                height: 100vh;

                .item {
                    display: grid;
                    padding: 5px;
                    background-color: transparent;
                    justify-content: center;
                    align-items: center;
                }

                .title {
                    display: flex;
                    // margin-top: -15px;
                    font-size: 1em;
                    grid-column: 2/16;
                    grid-row: 1/2;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item1 {
                    // background-color:red;
                    display: flex;
                    grid-column: 1/4;
                    grid-row: 2/3;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item2 {
                    // background-color:green;
                    display: flex;
                    grid-column: 4/7;
                    grid-row: 2/3;
                    justify-content: center;
                    align-items: flex-end;
                }

                .item3 {
                    display: flex;
                    padding-top: 36px;
                    grid-column: 7/11;
                    grid-row: 1/7;
                    justify-content: center;
                    align-items: flex-start;

                }

                .item4 {
                  
                    display: flex;
                    grid-column: 11/14;
                    grid-row: 2/3;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item5 {
                   
                    display: flex;
                    grid-row: 2/3;
                    grid-column: 14/17;
                    justify-content: center;
                    align-items: center;
                }

                .item6 {
                    display: flex;
                    grid-column: 1/4;
                    grid-row: 3/4;
                    justify-content: center;
                    align-items: flex-end;
                }

                .item7 {
                    display: flex;
                    grid-column: 4/7;
                    grid-row: 3/4;
                    justify-content: center;
                    align-items: center;
                }

                .item8 {
                    display: flex;
                    grid-column: 11/14;
                    grid-row: 3/4;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item9 {
                    display: flex;
                    grid-column: 14/17;
                    grid-row: 3/4;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item10 {
                    display: flex;
                    grid-column: 1/8;
                    grid-row: 4/5;
                    justify-content: flex-end;
                    align-items: flex-start;
                }

                .item11 {
                    display: flex;
                    grid-column: 11/17;
                    grid-row: 4/5;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                .item12 {
                    display: flex;
                    grid-column: 1/9;
                    grid-row: 5/6;
                    justify-content: center;
                    align-items: flex-start;
                }

                .item13 {
                    display: flex;
                    grid-column: 9/17;
                    grid-row: 5/6;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: -40px;
                }
            }
        }

        .slogan {
            margin-top: -150px;

        }

        #quote{

            padding:200px 0;

        }


        /*--------------------------------------------------------------
general styles
 --------------------------------------------------------------*/

 


    .about-text-wrapper p,
    .co-work-text-wrapper p
    {
        max-width:1000px;
        margin:0 auto;
        font-size: 1.4em;
      
        }
    
   section {
    

 
    .music-text-wrapper,
    .prices-text-wrapper,
    .services-text-wrapper,
    .contact-text-wrapper,
    .footer-content {
        padding:0 150px;

    }

  h2{
        font-size: 2.6em;
        margin-left:-20px;
    }


    .about-text-wrapper,
      .co-work-text-wrapper{
    
     padding:0 150px 100px;
 }

}

.services button{
    margin-top:20px;
}


        /*--------------------------------------------------------------
 slide-show
 --------------------------------------------------------------*/

    .slideshow-container{
        margin-top: 40px;
    }




        .next,
        .prev {

            font-size: 2.2em;
        }


        .img-text-reveal p {
            font-size: 1.6em;
        }

        #caption-modal p {
            font-size: 1.6em;
        }

        /*--------------------------------------------------------------
 services
 --------------------------------------------------------------*/
        .services {

            margin-bottom:50px;

            .service-header-wrap-left,
            .service-header-wrap-other,
            .service-header-wrap-right,
            .service-more-text,
            .service-text-right,
            .service-text-right-dummy {
                margin: 0 auto;
                text-align: left;
            }

            
         

            .viewLess {
                margin: 20px auto;
            }

            .service-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }


            .service {
                display: flex;
                flex-direction: column;
                padding: 4% 6%;
                justify-content: center;
                flex: 0 1 calc(33% - .5em);
                min-width:400px;



            }

           



            
         

            .service-header-wrap-other{
                margin-top:20px;
                 display: flex;
                flex-direction: column;
                flex: 1 1;
                justify-items: flex-start;
                align-items: flex-end;
            }


        }


                /*--------------------------------------------------------------
 services
 --------------------------------------------------------------*/

        .prices-container {
            .price {
                display: flex;
                flex-direction: column;
                padding: 2%;
                justify-content: center;
                flex: 0 1 calc(33% - .5em);
            }
        }

        .music {

             margin-bottom:50px;
                        
            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .card {
                    display: flex;
                    flex-direction: column;
                      padding: 4% 6%;
                    justify-content: center;
                    flex: 0 1 calc(33% - .5em);
                    min-height: 460px;
                    min-width:400px;




                    .music-info {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1;
                        justify-items: flex-end;

                    }



                }


                iframe.musicPlayer {
                    border: 0;
                    width: 250px;
                    height: 250px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: flex-end;
                }


            }

            #loadMore{
                    margin-top: 40px;
                   }


        }
    }
}