$lightgrey: #E1E4E8;
$text: #1b1b1c;
$black: #000c2b;
$lightblue: #C0D5ED;
$red: #FF0000;
$yellow:#FFEE00;
$blue: #449AFF;



%button-style-simple {
    color: $black;
    letter-spacing: 0.02em;
    background-color: white;
    border: $blue 1px solid;
    cursor: pointer;
    margin-top: 30px;
    padding: 8px 10px;
    box-shadow: $blue 4px 4px 0 0;
    transition: transform .25s ease-out, opacity .25s ease-out, box-shadow .25s ease-out, opacity .25s ease-out;

    &:hover {

        transform: translateX(2px) translateY(2px);
        box-shadow: 2px 2px 0 0;
    }
}

%icon-button {
    height: 40px;
    width: 40px;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
    padding: 0;


}


%icon-cloud-style {
    height: calc(113px *1.2);
    width: calc(178px *1.2);
    background-position: 50% 50%;
    background-size: contain;
    margin: 0;
    padding: 0;

}


%box {
    
    margin: 0 auto;
    padding: 10% 4%;
    min-width: 320px;
   
}

%section-title {
   margin: 80px auto;
    text-transform: uppercase;
    color: $black;
}

%text-margin {
    padding: 0 20px 25px;
    margin: 0;
}


%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

