$lightgrey: #EDEDED;
$black: #2E3645;
$lightblue: #C0D5ED;
$red: #FF0000;
$yellow:#FFEE00;
$blue: #449AFF;


%button-style-simple {
	color:$black;
	letter-spacing: 0.02em;
	background-color: white;
	border: $blue 1px solid;
	cursor:pointer;
	margin-top:30px;
	padding: 8px 10px;
	box-shadow:$blue 4px 4px 0 0 ;
	transition: transform .25s ease-out, opacity .25s ease-out, box-shadow .25s ease-out, opacity .25s ease-out;
	&:hover{
		
		transform:translateX(2px) translateY(2px);
		box-shadow: 2px 2px 0 0 ;
	} 
}


%icon-cloud-style{
	  height: 113px;
       width: 178px;
       background-position: 50% 50%;
       background-size: cover;
       margin: 0;
       padding: 0;
     
}


%box {
	border: $lightgrey solid 3px;
	 background-color: white;
     margin: 20px auto;
     padding: 10% 4%;
     width:300px;

}

%section-title {
	  text-transform: uppercase;
      font-weight: 700;
      color: $blue;
}