
//eyes logo smiley
@-webkit-keyframes twink {
    0% {
        transform: scale(0.9);

    }

    100% {
        transform: scale(1);

    }

}



@keyframes twink {
    0% {
        transform: scale(0.9);

    }

    100% {
        transform: scale(1);

    }

}


//thunder
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
        fill: transparent;
    }

    99% {

        fill: red;
    }

    100% {
        stroke-dashoffset: 0;
        fill: red;

    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
        fill: transparent;
    }

    99% {

        fill: red;
    }

    100% {
        stroke-dashoffset: 0;
        fill: red;

    }
}


@keyframes blink
 {
   from {
    fill: rgba( 0, 0, 0 , 0.5);
   }
  to {
    fill: #D0021B;
   }
 }


@keyframes volume
 {

     100%{
        transform:rotate(-5deg);
     }

    }

    @-webkit-keyframes volume
    {

     100%   {
          transform:rotate(-5deg);
     }

    }



@keyframes write
    {
        0% {
        transform:translateX(-120px);
     }

     100%   {
        transform:translateX(20px);
     }

    }

    @-webkit-keyframes write
    {

        0% {
        transform:translateX(-120px);
     }

     100%   {
        transform:translateX(20px);
     }

    }





@-webkit-keyframes slidedown {
  0% {
    transform: translateY(86px);

  }

  100% {
    transform: translateY(1200px);
    opacity: 0;
  }
}


@keyframes slidedown {
  0% {
    transform: translateY(86px);

  }

  100% {
    transform: translateY(1200px);
    opacity: 0;
  }
}



@keyframes appear{
    from{
        transform: translateY( -200px);
        opacity: 0;
    }
     to {
        transform: translateY( 0px);
        opacity: 100%;
    }
}

