$lightgrey: #E1E4E8;
$text: #1b1b1c;
$black: #000c2b;
$lightblue: #C0D5ED;
$red: #FF0000;
$yellow:#FFEE00;
$blue: #449AFF;



#mast tspan,
#sd tspan,
#mt tspan,
#cons tspan,
#mixT tspan,

{
  font-size:38px;

}






.text-on-cloud  tspan  {
     font-family:helvetica;
        fill: $black;
        stroke: transparent;
         font-size:30px;
        
        &:hover{
            fill:$blue;
            cursor:pointer;
            font-size:31px;
            transition: all 2s;


        }

    }

 .text-on tspan{
     font-family:helvetica;
        fill: $blue;
        stroke: transparent;
     
        &:hover{
           
            cursor:pointer;
        }

    }


    .text-off {
        fill: transparent;
        stroke: transparent;

    }


svg.cloud {

    width: 75%;
    height: 75%;
    -webkit-height: auto;
    z-index:100;

}


    .clouds {
        fill: none;
        stroke-width: 3.6;
        stroke: $blue;

    }



    .drops{
    stroke: transparent;
    fill: none;
    stroke-width:3.6;
    transform:scale(0.9);
}


.big-speaker{
    transform:scale(0.90) translateY(60px);
}
.sync{
    transform:scale(0.90) translateX(60px) translateY(60px);
}


.sound-design-svg,
.micro-svg,
.mastering-svg,
.recording-svg,
.mixing-svg,
.mixtech-svg,
.consulting-svg,
.soundDesign-svg

{
    stroke:black;
    &:hover{
        stroke:$blue;
        cursor:pointer;
    }



}





svg.speaker-comp,
svg.live-master-speaker,
{
    width: 50%;
   height:50%;
   max-width:50%;
   height:auto;

}

svg.consulting-soundDesign,
svg.mixes{
    width: 60%;
   height: 60%;
   max-width:60%;
   height:auto;

}

svg.mixes{
 transform: translateY(-60px) translateX(20px) ;
}




.wheel {
transform-origin: 230.69629669px 323.29627227783203px;
  -webkit-animation: rotate-center 1s linear infinite;
  animation: rotate-center 1s linear infinite;
}


.screen {
fill: #EDEDED;
-webkit-animation: colorchange 20s linear infinite;
  animation: colorchange 5s linear infinite;
}



@keyframes colorchange
    {
      0%   {fill:  #EDEDED;}
      50%  {fill: $lightblue;}
         80% {fill: rgba(204,253,212, 0.6);}
             100%   {fill:  #EDEDED;}

    }

    @-webkit-keyframes colorchange
    {
     0%   {fill:  #EDEDED;}
      50%  {fill: $lightblue;}
    80% {fill: rgba(204,253,212, 0.6);}
      100%   {fill:  #EDEDED;}

    }


@keyframes rotate-center {
  0% {
   transform: rotate(0);
    transform: rotate(0);
  }

  100% {
   transform: rotate(360deg );
    transform: rotate(360deg);
  }
}





//cloud


@keyframes slidein {

  0% {
   transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
   transform: translateX(150px);
  }
}




@keyframes slidein-other {

  0% {

    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);

  }
}


//extended way to see how to write minified animation
// .cloude-moves {
//   animation-name: slidein;
//   animation-duration: 5s;
//   animation-delay: 2s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-timing-function: ease;
//   animation-fill-mode:forwards;
// }

.cloud-moves-2{
  animation: slidein 14s -6s alternate infinite linear;
  -webkit-animation: slidein 14s -6s alternate infinite linear;
}

.cloud-moves {
  animation: slidein 13s  -2s alternate infinite linear;
  -webkit-animation: slidein 13s  -2s alternate infinite linear;
}

.cloud-moves-4{
    animation: slidein-other 16s -5s alternate infinite linear;
    -webkit-animation: slidein-other 16s -5s alternate infinite linear;
}


.cloud-moves-5{
    animation: slidein-other 20s -6s alternate infinite linear;
   -webkit-animation: slidein-other 20s -6s alternate infinite linear;
}

.cloud-moves-6{
    animation: slidein 18s -5s alternate infinite linear;
    -webkit-animation: slidein 18s -5s alternate infinite linear;
}


.cloud-moves-7{
    animation: slidein-other 17s -4s alternate infinite linear;
    -webkit-animation: slidein-other 17s -4s alternate infinite linear;
}



.logo {

    width: 70%;
    height: 70%;
    margin-top: 20px;
   


    .nadel-eins-logo {

        fill: none;


        .needle,
        .bottom,

            {
            fill: white;

        }

        .needle,
        .bottom,
        .smile,
        .face,
        .surprise {
            stroke-width: 3;
            stroke: black;

        }

        .smiley {

            .face {
                fill: $yellow;
            }

            .eye-right,
            .eye-left {
                fill: black;
                animation: twink 2s linear;
            }

            .smileBar {
                stroke-width: 0.8;
                fill: black;
            }

            .surprise {
                fill: transparent;
                stroke: transparent;
            }


        }

        .thunder {
            stroke-width: 3;
        }

    }


}





.eye-right {
    transform-origin: 55px 29px 4px;
    animation: twink 5s alternate infinite ease-in;
    -webkit-animation: twink 5s alternate infinite ease-in;
}

.eye-left {
    transform-origin: 31px 29px 4px;
    animation: twink 5s alternate infinite ease-in;
     -webkit-animation: twink 5s alternate infinite ease-in;
}


.thunder-happens {

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear alternate forwards;
   -webkit-animation: dash 2s linear alternate forwards;

}

.lines {

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s -2s linear infinite;

   -webkit-animation: dash 4s -2s linear infinite;
}



.pencil{
    animation: write 1s -6s linear infinite;
   animation: write 1s -6s linear infinite;
}


.mix-needles{

    animation: volume 1s -6s linear infinite;
    stroke-width:1.6;
}

.lightButton{

    animation: blink 4s -1s ease-in infinite;
    stroke-width:1.6;
}



.drops-go-down{

  animation: slidedown 2s normal forwards ease-in;

}
