$lightgrey: #E1E4E8;
$text: #1b1b1c;
$black: #000c2b;
$lightblue: #C0D5ED;
$red: #FF0000;
$yellow:#FFEE00;
$blue: #449AFF;



 text{
    font-family:helvetica;
    font-size:28px;
    fill: $black;
        stroke: transparent;
 }

 .text-on {
        fill: $black;
        stroke: transparent;
        font-size: 28px;
        &:hover{
            fill:red;
            cursor:pointer;
        }
        
    }


    .text-off {
        fill: transparent;
        stroke: transparent;
       
    }


.cloud {

    width: 70%;
    height: 70%;

  

}



    .clouds {
        fill: none;
        stroke-width: 3.6;
        stroke: $blue;

    }

 

    .drops{
    stroke: transparent;
    fill: none;
    stroke-width:3.6;
}




.speaker{
    stroke:black;
 
}

.sound-design-svg,
.micro-svg,
.mastering-svg


{
    stroke:black;
    &:hover{
        stroke:red;
        cursor:pointer;
    }

  

}

.speaker-comp,
.live-master-speaker{
    width: 80%;
    height: 80%;
}



.speaker-small{
    stroke:black;
}




.wheel {
transform-origin: 230.69629669px 323.29627227783203px;

  -webkit-animation: rotate-center 1s linear infinite;
  animation: rotate-center 1s linear infinite;
}



@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg );
    transform: rotate(360deg);
  }
}





//cloud


@keyframes slidein {

  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px);
  }
}


@keyframes slidein-other {

  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);
  }
}


//extended way to see how to write minified animation
// .cloude-moves {
//   animation-name: slidein;
//   animation-duration: 5s;
//   animation-delay: 2s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-timing-function: ease;
//   animation-fill-mode:forwards;
// }

.cloud-moves-2{
  animation: slidein 14s -6s alternate infinite linear;
}

.cloud-moves {
  animation: slidein 13s  -2s alternate infinite linear;
}

.cloud-moves-4{
    animation: slidein-other 16s -5s alternate infinite linear;
}


.cloud-moves-5{
    animation: slidein-other 20s -6s alternate infinite linear;
}

.cloud-moves-6{
    animation: slidein 18s -5s alternate infinite linear;
}


.cloud-moves-7{
    animation: slidein-other 17s -4s alternate infinite linear;
}



.logo {
   
    width: 80%;
    height: 80%;

    .nadel-eins-logo {

        fill: none;


        .needle,
        .bottom,

            {
            fill: white;

        }

        .needle,
        .bottom,
        .smile,
        .face,
        .surprise {
            stroke-width: 3;
            stroke: black;

        }

        .smiley {

            .face {
                fill: $yellow;
            }

            .eye-right,
            .eye-left {
                fill: black;
                animation: twink 2s linear;
            }

            .smileBar {
                stroke-width: 0.8;
                fill: black;
            }

            .surprise {
                fill: transparent;
                stroke: transparent;
            }


        }

        .thunder {
            stroke-width: 3;
        }

    }


}



//eyes logo smiley


@keyframes twink {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }

}


.eye-right {
    transform-origin: 55px 29px 4px;
    animation: twink 5s alternate infinite ease-in;
}

.eye-left {
    transform-origin: 31px 29px 4px;
    animation: twink 5s alternate infinite ease-in;
}


//thunder


@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
        fill: transparent;
    }

    99% {

        fill: red;
    }

    100% {
        stroke-dashoffset: 0;
        fill: red;

    }
}

.thunder-happens {

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear alternate forwards;


}




@keyframes slidedown {
  0% {
    transform: translateY(86px);

  }

  100% {
    transform: translateY(1200px);
    opacity: 0;
  }
}


.drops-go-down{

  animation: slidedown 2s normal forwards ease-in;

}









