.icon-close, #back-to-top, .about .about-text-wrapper button, .services button, .music .load, .prices button, .theEnd .subscribe {
  color: #1b1b1c;
  letter-spacing: 0.02em;
  border-top: #1b1b1c 1px solid;
  border-left: #1b1b1c 1px solid;
  border-right: #1b1b1c 1px solid;
  border-bottom: #1b1b1c 1.5px solid;
  background-color: white;
  cursor: pointer;
  padding: 4px 6px;
  box-shadow: #1b1b1c 0px 4px 0 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out, box-shadow 0.25s ease-out, opacity 0.25s ease-out; }
  .icon-close:hover, #back-to-top:hover, .about .about-text-wrapper button:hover, .services button:hover, .music .load:hover, .prices button:hover, .theEnd .subscribe:hover {
    transform: translateX(2px) translateY(2px);
    box-shadow: 0px 2px 0 0; }

.icon-close, #back-to-top {
  height: 40px;
  width: 40px;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0; }

header .icon-cloud-line, .services .icon, .prices .icon {
  height: 120px;
  width: 120px;
  background-position: 50% 50%;
  background-size: contain;
  margin: 0;
  padding: 0; }

.services .service {
  margin: 0 auto;
  padding: 10% 4%;
  min-width: 320px; }

section .staff-text-wrapper,
section .about-text-wrapper,
section .co-work-text-wrapper,
section .music-text-wrapper,
section .prices-text-wrapper,
section .services-text-wrapper,
section .contact-text-wrapper,
section .theEnd, .theEnd .footer-content p {
  padding: 0 20px 25px;
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5; }

body {
  background-color: white; }

figure {
  padding: 0;
  margin: 0; }

body,
button,
input,
select,
textarea,
p {
  color: #1b1b1c;
  font-size: 1em;
  font-kerning: normal;
  text-justify: inter-word; }

a {
  text-decoration: none;
  color: #1b1b1c; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

h1 {
  color: #1b1b1c;
  font-size: 2.6em;
  letter-spacing: 1px;
  font-weight: 300; }

h2 {
  color: #1b1b1c;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }

h3 {
  color: #1b1b1c;
  font-size: 1.8em;
  font-weight: 400; }

div#cookiescript_accept {
  background-color: #798c81;
  color: #1b1b1c; }
  div#cookiescript_accept:hover {
    background-color: white; }

#cookiescript_badgetext {
  font-family: 'Helvetica', 'Arial', sans-serif; }

#cookiescript_wrapper {
  font-family: 'Helvetica', 'Arial', sans-serif;
  border-radius: 0; }

#cookiescript_badge {
  left: 80px !important; }

iframe.musicPlayer img {
  width: 100%; }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text,
.screen-reader-text-play {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text-play:active,
.screen-reader-text-play:focus,
.screen-reader-text-play:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
.screen-reader-text:hover {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

@supports (display: flex) {
  .cloud-menus {
    display: flex; }
    .cloud-menus svg {
      display: none; }
  .swiper-lazy.swiper-lazy-loaded {
    filter: saturate(70%); }
  .swiper-lazy-preloader {
    width: 150px;
    height: 150px;
    margin: 60px auto; }
  .swiper-container {
    width: 100%;
    height: auto;
    cursor: grab; }
  .swiper-button-next,
  .swiper-button-prev {
    display: none; }
  .swiper-pagination {
    width: 100%;
    padding: 10px; }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #e1e4e8; }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #798c81; }
  .service-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .music .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .prices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .prices-container article {
      margin: 40px 5px; } }

body {
  background-image: url("../img/cable-test-12.svg");
  background-position: center center;
  background-size: 1300px;
  background-repeat: repeat;
  background-attachment: fixed; }

.contact-desk-wrapper {
  display: none; }

/*--------------------------------------------------------------
nav
--------------------------------------------------------------*/
nav {
  z-index: 100;
  position: fixed; }

button {
  border: none;
  background-color: transparent; }

svg title {
  display: none; }

.opaque {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 3s ease-in-;
  background-color: rgba(0, 0, 0, 0.5) !important; }

.open {
  position: fixed;
  background-color: #798c81;
  list-style: none;
  height: 100vh;
  width: 100vw;
  padding-top: 65px;
  padding-left: 65px;
  margin: 0; }
  .open li {
    margin-left: 30px; }
    .open li a {
      line-height: 55px;
      color: white;
      z-index: 100;
      font-size: 1.6em;
      text-transform: uppercase;
      font-weight: 700; }
      .open li a:hover {
        color: #ff0000;
        cursor: pointer; }

.burger:hover {
  cursor: pointer;
  padding: 20px; }

.burger-black {
  margin: 8px 0 0 5px;
  top: 0;
  width: 63px;
  height: 63px;
  background-position: 50% 50%;
  position: fixed;
  z-index: 2000;
  transition: all 0.4s ease-in; }
  .burger-black:hover {
    transform: rotate(330deg);
    cursor: pointer; }

.burger-white {
  display: none; }

.menu-items {
  display: none; }

/*--------------------------------------------------------------
buttons close and arrow-up
--------------------------------------------------------------*/
.icon-close {
  background-color: white;
  border-radius: 50%; }

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 50%;
  border: #1b1b1c 2px solid;
  box-shadow: #1b1b1c 2px 2px 0px 0px;
  z-index: 99; }

.btn-entrance {
  animation: btnEntrance 0.5s both; }

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0, 100%, 0); }
  to {
    opacity: 1; } }

.btn-exit {
  animation: btnExit 0.25s both; }

@keyframes btnExit {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: scale3d(0, 100%, 0); } }

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
.header-for-desktop,
.title-desk {
  display: none; }

header .icon-cloud-line {
  position: absolute;
  right: 15%;
  top: 10px;
  height: calc(113px);
  width: calc(178px);
  animation: appear 2s forwards; }
  header .icon-cloud-line p {
    margin-left: 22px;
    margin-top: 75px;
    color: #1b1b1c;
    text-transform: uppercase; }
    header .icon-cloud-line p:hover {
      color: #798c81;
      cursor: pointer; }

header .bannerTwo {
  display: none; }

header .banner {
  margin-top: 80px;
  min-height: 600px;
  background-position: 25px 50%;
  z-index: 2000; }
  header .banner .title {
    padding: 25px 20px 0 25px; }
    header .banner .title h1 {
      color: black;
      line-height: 60px;
      max-width: 200px; }

.slogan {
  background-color: #798c81;
  z-index: 1;
  padding: 40px 10px; }
  .slogan .quote, .slogan h3 {
    text-align: center;
    margin-bottom: 20px; }
  .slogan .quote {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: white; }
  .slogan h3 {
    font-weight: normal;
    color: white;
    margin-top: -20px; }

/*--------------------------------------------------------------
button
--------------------------------------------------------------*/
button.viewLess {
  display: none; }

#read-about,
#less-about {
  float: right; }

/*--------------------------------------------------------------
sections
--------------------------------------------------------------*/
section {
  margin: 0;
  padding: 20px 0; }

/*--------------------------------------------------------------
About and co-work
--------------------------------------------------------------*/
.about {
  padding: 50px 0 100px; }
  .about .about-text-wrapper {
    padding-bottom: 80px; }
    .about .about-text-wrapper p {
      color: #1b1b1c;
      padding: 10px;
      border-radius: 20px; }
    .about .about-text-wrapper button {
      margin-bottom: 40px; }
    .about .about-text-wrapper .about-more-text {
      display: none;
      background-color: white; }

/*--------------------------------------------------------------
co-work
--------------------------------------------------------------*/
.co-work {
  padding: 50px 0;
  background-color: #798c81; }
  .co-work h2 {
    color: white; }

/*--------------------------------------------------------------
staff
--------------------------------------------------------------*/
.staff {
  padding: 50px 0;
  background-color: #798c81; }
  .staff h2 {
    color: white; }
  .staff .staff-text-wrapper {
    padding-bottom: 80px; }
    .staff .staff-text-wrapper p {
      color: #1b1b1c;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: -25px; }
    .staff .staff-text-wrapper .staff-pics {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px; }
      .staff .staff-text-wrapper .staff-pics figure.staff-pic {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center; }
      .staff .staff-text-wrapper .staff-pics figure.staff-pic img {
        width: 220px;
        height: 220px;
        border-radius: 100%; }
      .staff .staff-text-wrapper .staff-pics .staff-img-text {
        text-align: center;
        line-height: 10px; }
        .staff .staff-text-wrapper .staff-pics .staff-img-text p {
          font-size: 0.8em;
          margin-top: -10px; }

/*--------------------------------------------------------------
services
--------------------------------------------------------------*/
.services {
  position: relative;
  padding: 50px 0;
  background-color: #798c81; }
  .services a {
    text-decoration: underline; }
  .services h2 {
    color: white; }
  .services h3 {
    text-align: center;
    margin: 0;
    color: #1b1b1c; }
  .services article {
    max-width: 80%; }
  .services .service-header-wrap-right {
    float: right; }
  .services .service-header-wrap-left {
    float: left; }
  .services .service-text-right {
    text-align: right;
    margin: 2px 5px 20px; }
  .services .icon {
    margin-bottom: 10px; }
  .services article {
    margin: 0 6px; }
  .services .service-more-text {
    display: none; }
  .services .service-text-right-dummy {
    margin: 2px 5px 20px; }

.music {
  padding: 50px 0; }
  .music .cards {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; }
  .music .featured-section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .music .featured-section li:first-of-type {
      margin-right: 10px; }
    .music .featured-section li:last-of-type {
      margin-left: 10px; }
  .music .card.featured {
    flex: 1 1 100%; }
    .music .card.featured .player-wrapper {
      padding-bottom: 56.25% !important; }
      .music .card.featured .player-wrapper iframe {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .music .card.featured .player-wrapper img {
        border: 2px solid #1b1b1c; }
  .music .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 20%;
    padding: 2% 0%;
    min-width: 152px;
    align-items: center;
    padding-top: 40px; }
    .music .card .music-info {
      order: 2;
      margin-bottom: 20px; }
    .music .card p {
      color: #1b1b1c;
      font-weight: 700;
      margin-bottom: -10px;
      text-transform: uppercase; }
    .music .card p:nth-of-type(2) {
      color: #1b1b1c;
      font-style: italic;
      font-weight: 400; }
    .music .card p:last-of-type {
      color: #1b1b1c;
      font-weight: 400;
      text-transform: capitalize; }
    .music .card .player-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      padding-bottom: 100%; }
    .music .card iframe.musicPlayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #a5bdd8; }
  .music .load {
    color: #1b1b1c;
    margin: 0 auto;
    display: block; }
  .music .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0); }

.prices {
  position: relative;
  padding: 50px 0; }
  .prices #price-contact {
    color: #798c81; }
    .prices #price-contact:hover {
      color: #1b1b1c; }
  .prices h2 {
    color: #1b1b1c; }
  .prices h3 {
    color: #1b1b1c;
    text-align: center; }
  .prices p {
    min-width: 300px;
    color: #1b1b1c;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #1b1b1c;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .prices p:first-of-type {
    border-top: 1px solid #1b1b1c; }
  .prices .empty-line {
    height: 70px; }
  .prices p.price-disclamer {
    padding-top: 40px 0;
    border: none;
    display: block; }
  .prices .icon {
    display: block;
    margin: 0 auto; }
  .prices .icon.icon-studio {
    height: 100px;
    width: 100px;
    margin: 10px auto 39px; }
  .prices .readMore {
    display: block;
    margin: 40px auto 80px; }
  .prices button {
    background-color: #798c81;
    color: white;
    border: #798c81 1px solid;
    box-shadow: #798c81 4px 4px 0 0; }
  .prices .prices-more-text {
    display: none; }
  .prices .center-viewLess {
    margin: 30px auto 60px; }

/*--------------------------------------------------------------
contact
--------------------------------------------------------------*/
.contact {
  padding: 50px 0 0; }
  .contact .call-write {
    padding-bottom: 80px;
    text-align: left;
    margin-top: 20px; }
    .contact .call-write span:first-child {
      font-size: 32px; }
    .contact .call-write span:last-child {
      font-size: 44px; }
    .contact .call-write a {
      color: #1b1b1c;
      padding: 10px;
      border-radius: 20px;
      display: inline-block; }
      .contact .call-write a:hover {
        color: red; }

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.theEnd {
  padding-top: 50px;
  background-color: #798c81;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  color: #1b1b1c; }
  .theEnd .flicker-5 {
    -webkit-animation: flicker-5 8s linear infinite both;
    animation: flicker-5 8s linear infinite both; }
  .theEnd .subscribe {
    letter-spacing: 0.02em;
    cursor: pointer;
    padding: 8px 10px;
    margin-left: 20px;
    margin-bottom: 48px;
    color: #1b1b1c; }
    .theEnd .subscribe:hover {
      transform: translateX(2px) translateY(2px);
      box-shadow: 0px 2px 0 0; }
  .theEnd .footer-content-second {
    margin: 0 20px; }
    .theEnd .footer-content-second a {
      color: white; }
  .theEnd .footer-content {
    margin-top: 12px;
    text-align: left; }
    .theEnd .footer-content p {
      line-height: 1.3;
      color: #1b1b1c; }
      .theEnd .footer-content p span {
        margin-left: 3px;
        display: inline-block;
        transform: rotate(-90deg); }
      .theEnd .footer-content p:hover {
        cursor: pointer; }

.services .icon-cloud-line,
.contact .icon-cloud-line,
.co-work .icon-cloud-line,
.music .icon-cloud-line,
.about .icon-cloud-line,
.services .icon-cloud-line,
.staff .icon-cloud-line {
  display: none; }

@media screen and (min-width: 510px) {
  .card.featured {
    flex: 1 0 49% !important; } }

@media screen and (min-width: 561px) and (max-width: 750px) {
  header .banner {
    display: none; }
  header .bannerTwo {
    display: block;
    margin-top: 80px;
    min-height: 600px;
    background-position: 50% 50%;
    z-index: 2000; }
    header .bannerTwo .title {
      padding: 25px 20px 0 25px; }
      header .bannerTwo .title h1 {
        color: black;
        line-height: 60px;
        max-width: 200px; } }

.sound-wave {
  animation: waving 8s infinite linear; }

.cloud-menus-icon {
  width: 10%;
  margin-right: 50px; }

#mast tspan {
  font-size: 38px; }

#mt tspan {
  font-size: 36px; }

#sd tspan {
  font-size: 36px; }

#cons tspan {
  font-size: 34px; }

#mixT tspan,
#mixS tspan {
  font-size: 32px; }

#mi tspan {
  font-size: 36px; }

.text-on-cloud tspan {
  font-family: helvetica;
  fill: #1b1b1c;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1; }
  .text-on-cloud tspan:hover {
    fill: red;
    cursor: pointer;
    font-size: 30px;
    transition: all 1s; }

.text-on tspan {
  font-family: helvetica;
  fill: #798c81;
  stroke: transparent; }
  .text-on tspan:hover {
    cursor: pointer; }

.text-off {
  fill: transparent;
  stroke: transparent; }

svg.cloud {
  width: 100%;
  height: 100%;
  max-width: 180px;
  height: auto; }

svg.cloud-service {
  width: 15%;
  height: 15%;
  max-width: 15%;
  height: auto; }

.clouds {
  width: 200%;
  height: 200%;
  max-width: 200%;
  height: auto; }

.cloud-fill {
  fill: rgba(165, 189, 216, 0.7); }

.cloud-outline {
  stroke: #1b1b1c;
  stroke-width: 2; }

.drops {
  stroke: transparent;
  fill: none;
  stroke-width: 3.6;
  transform: scale(0.9); }

.big-speaker {
  transform: scale(0.9) translateY(60px); }

.sync {
  transform: scale(0.9) translateX(60px) translateY(60px); }

.sound-design-svg,
.micro-svg,
.mastering-svg,
.recording-svg,
.mixing-svg,
.mixtech-svg,
.consulting-svg,
.soundDesign-svg {
  stroke: black; }
  .sound-design-svg:hover,
  .micro-svg:hover,
  .mastering-svg:hover,
  .recording-svg:hover,
  .mixing-svg:hover,
  .mixtech-svg:hover,
  .consulting-svg:hover,
  .soundDesign-svg:hover {
    stroke: #798c81;
    cursor: pointer; }

svg.speaker-comp,
svg.live-master-speaker {
  width: 50%;
  height: 50%;
  max-width: 50%;
  height: auto; }

svg.consulting-soundDesign,
svg.mixes {
  width: 60%;
  height: 60%;
  max-width: 60%;
  height: auto; }

.wheel {
  transform-origin: 230.69629669px 323.29627227783203px;
  -webkit-animation: rotate-center 1s linear infinite;
  animation: rotate-center 1s linear infinite; }

.screen {
  fill: #EDEDED;
  -webkit-animation: colorchange 20s linear infinite;
  animation: colorchange 5s linear infinite; }

@keyframes colorchange {
  0% {
    fill: #EDEDED; }
  50% {
    fill: #c0d5ed; }
  80% {
    fill: rgba(204, 253, 212, 0.6); }
  100% {
    fill: #EDEDED; } }

@-webkit-keyframes colorchange {
  0% {
    fill: #EDEDED; }
  50% {
    fill: #c0d5ed; }
  80% {
    fill: rgba(204, 253, 212, 0.6); }
  100% {
    fill: #EDEDED; } }

@keyframes rotate-center {
  0% {
    transform: rotate(0);
    transform: rotate(0); }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes slidein {
  0% {
    transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    transform: translateX(150px); } }

@keyframes slidein-other {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-150px); } }

.cloud-moves-2 {
  animation: slidein 14s -6s alternate infinite linear;
  -webkit-animation: slidein 14s -6s alternate infinite linear; }

.cloud-moves {
  animation: slidein 13s -2s alternate infinite linear;
  -webkit-animation: slidein 13s -2s alternate infinite linear; }

.cloud-moves-4 {
  animation: slidein-other 16s -5s alternate infinite linear;
  -webkit-animation: slidein-other 16s -5s alternate infinite linear; }

.cloud-moves-5 {
  animation: slidein-other 20s -6s alternate infinite linear;
  -webkit-animation: slidein-other 20s -6s alternate infinite linear; }

.cloud-moves-6 {
  animation: slidein 18s -5s alternate infinite linear;
  -webkit-animation: slidein 18s -5s alternate infinite linear; }

.cloud-moves-7 {
  animation: slidein-other 17s -4s alternate infinite linear;
  -webkit-animation: slidein-other 17s -4s alternate infinite linear; }

.logo-wrapper {
  width: 60%;
  height: 60%;
  max-width: 60%; }

.logo .nadel-eins-logo {
  fill: none; }
  .logo .nadel-eins-logo .needle,
  .logo .nadel-eins-logo .bottom {
    fill: white; }
  .logo .nadel-eins-logo .needle,
  .logo .nadel-eins-logo .bottom,
  .logo .nadel-eins-logo .smile,
  .logo .nadel-eins-logo .face,
  .logo .nadel-eins-logo .surprise {
    stroke-width: 3;
    stroke: black; }
  .logo .nadel-eins-logo .smiley .face {
    fill: #ffee00; }
  .logo .nadel-eins-logo .smiley .eye-right,
  .logo .nadel-eins-logo .smiley .eye-left {
    fill: black;
    animation: twink 2s linear; }
  .logo .nadel-eins-logo .smiley .smileBar {
    stroke-width: 0.8;
    fill: black; }
  .logo .nadel-eins-logo .smiley .surprise {
    fill: transparent;
    stroke: transparent; }
  .logo .nadel-eins-logo .thunder {
    stroke-width: 3; }

.eye-right {
  transform-origin: 55px 29px 4px;
  animation: twink 5s alternate infinite ease-in;
  -webkit-animation: twink 5s alternate infinite ease-in; }

.eye-left {
  transform-origin: 31px 29px 4px;
  animation: twink 5s alternate infinite ease-in;
  -webkit-animation: twink 5s alternate infinite ease-in; }

.thunder-happens {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate forwards;
  -webkit-animation: dash 2s linear alternate forwards; }

.lines {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s -2s linear infinite;
  -webkit-animation: dash 4s -2s linear infinite; }

.pencil {
  animation: write 1s -6s linear infinite;
  animation: write 1s -6s linear infinite; }

.mix-needles {
  animation: volume 1s -6s linear infinite;
  stroke-width: 1.6; }

.lightButton {
  animation: blink 4s -1s ease-in infinite;
  stroke-width: 1.6; }

.drops-go-down {
  animation: slidedown 2s normal forwards ease-in; }

@supports (grid-area: auto) {
  @media screen and (min-width: 751px) and (max-width: 1100px) {
    h1 {
      font-size: 2em; }
    #quote {
      font-size: 2em;
      padding: 0 100px; }
    #title-desk {
      padding-right: 72px;
      z-index: 200; }
    #grid-container {
      min-height: 70vh; }
      #grid-container .item3 {
        grid-row: 1/3;
        align-items: center; }
      #grid-container .item12 {
        justify-items: flex-end; }
    #navi li {
      font-size: 25px;
      text-align: center;
      line-height: 80px; }
    #service-recording,
    #service-mastering,
    #service-mixing,
    #service-sound-design,
    #service-live-prep,
    #service-consulting,
    #service-live-tech {
      margin-top: 20px; } }
  @media screen and (min-width: 751px) {
    .swiper-container {
      width: 90%;
      height: 90%; }
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      color: #798c81; }
    /*--------------------------------------------------------------
header desktop
 --------------------------------------------------------------*/
    @supports not (writing-mode: vertical-lr) {
      .title-desk {
        display: block;
        margin-top: -10px;
        margin-left: 0px;
        line-height: 20px;
        width: 100vw;
        z-index: 200; }
      .title-desktop {
        text-align: left;
        padding: 0 90px; } }
    .cloud-menus {
      padding: 30px 0 60px; }
      .cloud-menus svg {
        display: block; }
    .wrap-all {
      margin-left: 74px; }
    .title-desk {
      writing-mode: vertical-lr;
      text-orientation: sideways-right;
      display: block;
      position: fixed;
      height: 100vh;
      transform: rotate(180deg);
      padding-right: 80px;
      border-left: 3px solid black;
      z-index: 200; }
    .title-desk-light {
      background-color: white; }
    .title-desk-dark {
      background-color: #1b1b1c; }
    .title-desktop {
      position: fixed;
      text-align: right;
      line-height: 20px;
      animation: appear 2s forwards;
      white-space: nowrap;
      right: 2px;
      bottom: 100px; }
    .title-dark {
      color: #1b1b1c; }
    .title-light {
      color: white; }
    .open {
      margin: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .open li {
        font-size: 1.8em;
        text-align: center;
        line-height: 80px; }
    .contact-desk-wrapper {
      position: relative;
      display: block; }
      .contact-desk-wrapper .contact-desk {
        position: fixed;
        top: 600px;
        left: 11px;
        z-index: 201; }
        .contact-desk-wrapper .contact-desk p {
          border: 2px solid #798c81;
          padding: 0 10px;
          line-height: 40px;
          text-align: center;
          color: #1b1b1c;
          background-color: white; }
          .contact-desk-wrapper .contact-desk p:hover {
            background-color: #798c81;
            color: white;
            cursor: pointer; }
        .contact-desk-wrapper .contact-desk #phone-side-bar {
          font-size: 30px; }
        .contact-desk-wrapper .contact-desk #email-side-bar {
          margin-top: -33px;
          font-size: 42px; }
    .header-for-mobile {
      display: none; }
    .header-for-desktop {
      display: block;
      margin: 10px auto;
      width: 90vw; }
      .header-for-desktop .grid-container {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 110px 100px auto;
        grid-gap: 0;
        margin-bottom: 30px; }
        .header-for-desktop .grid-container .title {
          display: flex;
          font-size: 1em;
          grid-column: 2/16;
          grid-row: 1/2;
          justify-content: center;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item1 {
          display: flex;
          grid-column: 1/4;
          grid-row: 1/2;
          justify-content: center;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item2 {
          display: flex;
          grid-column: 5/8;
          grid-row: 1/2;
          justify-content: center;
          align-items: flex-end; }
        .header-for-desktop .grid-container .item3 {
          display: flex;
          padding-top: 36px;
          grid-column: 7/11;
          grid-row: 1/3;
          justify-content: center;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item4 {
          display: flex;
          grid-column: 10/13;
          grid-row: 1/2;
          justify-content: center;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item5 {
          display: flex;
          grid-row: 1/2;
          grid-column: 14/17;
          justify-content: center;
          align-items: center; }
        .header-for-desktop .grid-container .item6 {
          display: flex;
          grid-column: 12/15;
          grid-row: 1/2;
          justify-content: flex-start;
          align-items: flex-end; }
        .header-for-desktop .grid-container .item7 {
          display: flex;
          grid-column: 4/7;
          grid-row: 2/3;
          justify-content: center;
          align-items: center; }
        .header-for-desktop .grid-container .item8 {
          display: flex;
          grid-column: 8/11;
          grid-row: 2/3;
          justify-content: center;
          align-items: flex-end; }
        .header-for-desktop .grid-container .item10 {
          display: flex;
          grid-column: 1/8;
          grid-row: 3;
          justify-content: flex-end;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item11 {
          display: flex;
          grid-column: 11/17;
          grid-row: 3;
          justify-content: flex-start;
          align-items: center; }
        .header-for-desktop .grid-container .item12 {
          display: flex;
          grid-column: 1/9;
          grid-row: 4;
          justify-content: center;
          align-items: flex-start; }
        .header-for-desktop .grid-container .item13 {
          display: flex;
          grid-column: 9/17;
          grid-row: 4;
          align-items: flex-start; }
    /*--------------------------------------------------------------
general styles
 --------------------------------------------------------------*/
    .staff-text-wrapper p,
    .contact-text-wrapper p,
    .about-text-wrapper p,
    .co-work-text-wrapper p,
    .contact-text-wrapper p {
      max-width: 900px;
      margin: 0 auto;
      font-size: 1.3em; }
    section .music-text-wrapper,
    section .services-text-wrapper,
    section .contact-text-wrapper,
    section .footer-content {
      padding: 0 100px; }
    section h2 {
      font-size: 2.7em;
      margin-left: -20px; }
    section .staff-text-wrapper,
    section .prices-text-wrapper,
    section .about-text-wrapper,
    section .co-work-text-wrapper {
      padding: 0 100px 100px;
      margin: 0 auto; }
    section .contact-text-wrapper {
      padding-bottom: 60px; }
    section .contact-text-wrapper a {
      font-size: 1.3em;
      text-align: center; }
    .call-write {
      margin-left: 180px; }
      .call-write a {
        color: #1b1b1c;
        padding: 10px;
        border-radius: 20px;
        display: inline-block; }
    /*--------------------------------------------------------------
 slide-show
 --------------------------------------------------------------*/
    .slideshow-container {
      margin: 40px auto;
      max-width: 80vw; }
    .image-slider img {
      margin-left: 2px; }
    .prev {
      padding-right: 20px;
      left: -2%; }
    .next {
      padding-left: 20px;
      right: -2%; }
    .next,
    .prev {
      font-size: 3em;
      top: calc(50% - 50px); }
    .prev span,
    .next span {
      padding: 9px 18px; }
    .dots {
      width: 1em;
      height: 1em; }
    .img-text-reveal p {
      font-size: 1.6em; }
    #caption-modal p {
      font-size: 1.6em; }
    /*--------------------------------------------------------------
 services
 --------------------------------------------------------------*/
    .services,
    .contact,
    .co-work,
    .music,
    .about,
    .prices,
    .staff {
      position: relative; }
      .services .icon-cloud-line,
      .contact .icon-cloud-line,
      .co-work .icon-cloud-line,
      .music .icon-cloud-line,
      .about .icon-cloud-line,
      .prices .icon-cloud-line,
      .staff .icon-cloud-line {
        display: block;
        margin: 0;
        padding: 0;
        height: calc(113px);
        width: calc(178px);
        background-position: 50% 50%;
        position: absolute;
        top: 30px;
        left: 140px; }
    .services .service-header-wrap-left,
    .services .service-header-wrap-other,
    .services .service-header-wrap-right,
    .services .service-more-text,
    .services .service-text-right,
    .services .service-text-right-dummy {
      margin: 0 auto;
      text-align: left; }
    .services .viewLess {
      margin: 20px auto; }
    .services .service-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    .services .service {
      display: flex;
      flex-direction: column;
      padding: 4% 4%;
      flex: 0 1 calc(25% - 20px);
      min-height: 460px;
      min-width: 300px; }
    .services .service-header-wrap-other {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex: 1 1;
      justify-items: flex-start;
      align-items: flex-end; }
    .service:nth-child(2n) {
      margin-top: 100px; }
    .service:last-of-type {
      margin-top: -50px; }
    /*--------------------------------------------------------------
prices + music 
 --------------------------------------------------------------*/
    .prices-container {
      margin-bottom: 40px; }
      .prices-container .price {
        display: flex;
        flex-direction: column;
        padding: 4% 4%;
        min-height: 460px;
        min-width: 300px;
        justify-content: flex-start;
        align-items: center;
        flex: 0 1 calc(25% - 20px);
        margin: 10px; }
    .music .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .music .cards .card {
        min-width: 200px;
        margin: 0 20px; }
        .music .cards .card .music-info {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-start;
          align-items: center; }
          .music .cards .card .music-info p {
            font-size: 12px; }
        .music .cards .card .player-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
    .music #loadMore {
      margin-top: 40px; }
    footer.theEnd {
      padding-left: 94px;
      justify-content: space-between;
      align-content: flex-start;
      flex-direction: row; }
    footer.theEnd .subscribe {
      margin-top: 0px; } } }

@-webkit-keyframes twink {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes twink {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes dashi {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dashi {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dashi {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent; }
  99% {
    fill: red; }
  100% {
    stroke-dashoffset: 0;
    fill: red; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent; }
  99% {
    fill: red; }
  100% {
    stroke-dashoffset: 0;
    fill: red; } }

@keyframes blink {
  from {
    fill: rgba(0, 0, 0, 0.5); }
  to {
    fill: #d0021b; } }

@keyframes volume {
  100% {
    transform: rotate(-5deg); } }

@-webkit-keyframes volume {
  100% {
    transform: rotate(-5deg); } }

@keyframes write {
  0% {
    transform: translateX(-120px); }
  100% {
    transform: translateX(20px); } }

@-webkit-keyframes write {
  0% {
    transform: translateX(-120px); }
  100% {
    transform: translateX(20px); } }

@-webkit-keyframes slidedown {
  0% {
    transform: translateX(86px); }
  100% {
    transform: translateY(1200px);
    opacity: 0; } }

@keyframes slidedown {
  0% {
    transform: translateX(86px); }
  100% {
    transform: translateY(1200px);
    opacity: 0; } }

@keyframes appear {
  from {
    transform: translateY(-200px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 100%; } }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@-webkit-keyframes fade {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2019-5-28 15:29:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-5
 * ----------------------------------------
 */
@-webkit-keyframes flicker-5 {
  0%,
  100% {
    opacity: 1; }
  0% {
    opacity: 1; }
  1% {
    opacity: 1; }
  1.02% {
    opacity: 1; }
  8.98% {
    opacity: 1; }
  9% {
    opacity: 0; }
  9.8% {
    opacity: 0; }
  9.82% {
    opacity: 1; }
  9.48% {
    opacity: 1; }
  9.5% {
    opacity: 1; }
  9.6% {
    opacity: 1; }
  9.62% {
    opacity: 1; }
  14.98% {
    opacity: 1; }
  15% {
    opacity: 0.5; }
  15.8% {
    opacity: 0.5; }
  15.82% {
    opacity: 1; }
  15.18% {
    opacity: 1; }
  15.2% {
    opacity: 0.7; }
  16% {
    opacity: 0.7; }
  16.02% {
    opacity: 1; }
  15.48% {
    opacity: 1; }
  15.5% {
    opacity: 0.5; }
  16.2% {
    opacity: 0.5; }
  16.22% {
    opacity: 1; }
  16.98% {
    opacity: 1; }
  17% {
    opacity: 1; }
  17.8% {
    opacity: 1; }
  17.82% {
    opacity: 1; }
  20.48% {
    opacity: 1; }
  20.5% {
    opacity: 0.9; }
  21.3% {
    opacity: 0.9; }
  21.32% {
    opacity: 1; }
  20.98% {
    opacity: 1; }
  21% {
    opacity: 1; }
  22% {
    opacity: 1; }
  22.02% {
    opacity: 1; }
  39.98% {
    opacity: 1; }
  40% {
    opacity: 1; }
  41% {
    opacity: 1; }
  41.02% {
    opacity: 1; }
  40.48% {
    opacity: 1; }
  40.5% {
    opacity: 0.6; }
  41.4% {
    opacity: 0.6; }
  41.42% {
    opacity: 1; }
  41.98% {
    opacity: 1; }
  42% {
    opacity: 1; }
  42.8% {
    opacity: 1; }
  42.82% {
    opacity: 1; }
  59.98% {
    opacity: 1; }
  60% {
    opacity: 1; }
  61.02% {
    opacity: 1; }
  60.18% {
    opacity: 1; }
  60.2% {
    opacity: 0.2; }
  61% {
    opacity: 1; }
  60.78% {
    opacity: 1; }
  60.8% {
    opacity: 0.4; }
  61.6% {
    opacity: 0.4; }
  61.62% {
    opacity: 1; }
  61.38% {
    opacity: 1; }
  61.4% {
    opacity: 0; }
  62.2% {
    opacity: 0; }
  62.22% {
    opacity: 1; }
  61.78% {
    opacity: 1; }
  61.8% {
    opacity: 1; }
  62.8% {
    opacity: 1; }
  62.82% {
    opacity: 1; }
  75.98% {
    opacity: 1; }
  76% {
    opacity: 1; }
  77% {
    opacity: 1; }
  77.02% {
    opacity: 1; }
  77.98% {
    opacity: 1; }
  78% {
    opacity: 0.7; }
  78.8% {
    opacity: 0.7; }
  78.82% {
    opacity: 1; }
  78.98% {
    opacity: 1; }
  79% {
    opacity: 1; }
  80% {
    opacity: 1; }
  80.02% {
    opacity: 1; }
  99.98% {
    opacity: 1; }
  100% {
    opacity: 1; }
  101% {
    opacity: 1; }
  101.02% {
    opacity: 1; } }

@keyframes flicker-5 {
  0%,
  100% {
    opacity: 1; }
  0% {
    opacity: 1; }
  1% {
    opacity: 1; }
  1.02% {
    opacity: 1; }
  8.98% {
    opacity: 1; }
  9% {
    opacity: 0; }
  9.8% {
    opacity: 0; }
  9.82% {
    opacity: 1; }
  9.48% {
    opacity: 1; }
  9.5% {
    opacity: 1; }
  9.6% {
    opacity: 1; }
  9.62% {
    opacity: 1; }
  14.98% {
    opacity: 1; }
  15% {
    opacity: 0.5; }
  15.8% {
    opacity: 0.5; }
  15.82% {
    opacity: 1; }
  15.18% {
    opacity: 1; }
  15.2% {
    opacity: 0.7; }
  16% {
    opacity: 0.7; }
  16.02% {
    opacity: 1; }
  15.48% {
    opacity: 1; }
  15.5% {
    opacity: 0.5; }
  16.2% {
    opacity: 0.5; }
  16.22% {
    opacity: 1; }
  16.98% {
    opacity: 1; }
  17% {
    opacity: 1; }
  17.8% {
    opacity: 1; }
  17.82% {
    opacity: 1; }
  20.48% {
    opacity: 1; }
  20.5% {
    opacity: 0.9; }
  21.3% {
    opacity: 0.9; }
  21.32% {
    opacity: 1; }
  20.98% {
    opacity: 1; }
  21% {
    opacity: 1; }
  22% {
    opacity: 1; }
  22.02% {
    opacity: 1; }
  39.98% {
    opacity: 1; }
  40% {
    opacity: 1; }
  41% {
    opacity: 1; }
  41.02% {
    opacity: 1; }
  40.48% {
    opacity: 1; }
  40.5% {
    opacity: 0.6; }
  41.4% {
    opacity: 0.6; }
  41.42% {
    opacity: 1; }
  41.98% {
    opacity: 1; }
  42% {
    opacity: 1; }
  42.8% {
    opacity: 1; }
  42.82% {
    opacity: 1; }
  59.98% {
    opacity: 1; }
  60% {
    opacity: 1; }
  61% {
    opacity: 1; }
  61.02% {
    opacity: 1; }
  60.18% {
    opacity: 1; }
  60.2% {
    opacity: 0.2; }
  61% {
    opacity: 0.2; }
  61.02% {
    opacity: 1; }
  60.78% {
    opacity: 1; }
  60.8% {
    opacity: 0.4; }
  61.6% {
    opacity: 0.4; }
  61.62% {
    opacity: 1; }
  61.38% {
    opacity: 1; }
  61.4% {
    opacity: 0; }
  62.2% {
    opacity: 0; }
  62.22% {
    opacity: 1; }
  61.78% {
    opacity: 1; }
  61.8% {
    opacity: 1; }
  62.8% {
    opacity: 1; }
  62.82% {
    opacity: 1; }
  75.98% {
    opacity: 1; }
  76% {
    opacity: 1; }
  77% {
    opacity: 1; }
  77.02% {
    opacity: 1; }
  77.98% {
    opacity: 1; }
  78% {
    opacity: 0.7; }
  78.8% {
    opacity: 0.7; }
  78.82% {
    opacity: 1; }
  78.98% {
    opacity: 1; }
  79% {
    opacity: 1; }
  80% {
    opacity: 1; }
  80.02% {
    opacity: 1; }
  99.98% {
    opacity: 1; }
  100% {
    opacity: 1; }
  101% {
    opacity: 1; }
  101.02% {
    opacity: 1; } }
