text {
  font-family: helvetica;
  font-size: 28px;
  fill: #000c2b;
  stroke: transparent; }

.text-on {
  fill: #000c2b;
  stroke: transparent;
  font-size: 28px; }
  .text-on:hover {
    fill: red;
    cursor: pointer; }

.text-off {
  fill: transparent;
  stroke: transparent; }

.cloud {
  width: 65%;
  height: 65%;
  -webkit-height: auto; }

.clouds {
  fill: none;
  stroke-width: 3.6;
  stroke: #449AFF; }

.drops {
  stroke: transparent;
  fill: none;
  stroke-width: 3.6; }

.sound-design-svg,
.micro-svg,
.mastering-svg,
.recording-svg,
.mixing-svg,
.mixtech-svg {
  stroke: black; }
  .sound-design-svg:hover,
  .micro-svg:hover,
  .mastering-svg:hover,
  .recording-svg:hover,
  .mixing-svg:hover,
  .mixtech-svg:hover {
    stroke: red;
    cursor: pointer; }

.speaker-comp,
.live-master-speaker {
  width: 70%;
  height: 70%;
  -webkit-height: auto; }

.mixes {
  width: 70%;
  height: 70%;
  -webkit-height: auto; }

.wheel {
  transform-origin: 230.69629669px 323.29627227783203px;
  -webkit-animation: rotate-center 1s linear infinite;
  animation: rotate-center 1s linear infinite; }

.screen {
  fill: #EDEDED;
  -webkit-animation: colorchange 20s linear infinite;
  animation: colorchange 5s linear infinite; }

@keyframes colorchange {
  0% {
    fill: #EDEDED; }
  50% {
    fill: #C0D5ED; }
  80% {
    fill: rgba(204, 253, 212, 0.6); }
  100% {
    fill: #EDEDED; } }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    fill: #EDEDED; }
  50% {
    fill: #C0D5ED; }
  80% {
    fill: rgba(204, 253, 212, 0.6); }
  100% {
    fill: #EDEDED; } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes slidein {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(150px); } }

@keyframes slidein-other {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-150px); } }

.cloud-moves-2 {
  animation: slidein 14s -6s alternate infinite linear; }

.cloud-moves {
  animation: slidein 13s  -2s alternate infinite linear; }

.cloud-moves-4 {
  animation: slidein-other 16s -5s alternate infinite linear; }

.cloud-moves-5 {
  animation: slidein-other 20s -6s alternate infinite linear; }

.cloud-moves-6 {
  animation: slidein 18s -5s alternate infinite linear; }

.cloud-moves-7 {
  animation: slidein-other 17s -4s alternate infinite linear; }

.logo {
  width: 70%;
  height: 70%;
  -webkit-height: auto; }
  .logo .nadel-eins-logo {
    fill: none; }
    .logo .nadel-eins-logo .needle,
    .logo .nadel-eins-logo .bottom {
      fill: white; }
    .logo .nadel-eins-logo .needle,
    .logo .nadel-eins-logo .bottom,
    .logo .nadel-eins-logo .smile,
    .logo .nadel-eins-logo .face,
    .logo .nadel-eins-logo .surprise {
      stroke-width: 3;
      stroke: black; }
    .logo .nadel-eins-logo .smiley .face {
      fill: #FFEE00; }
    .logo .nadel-eins-logo .smiley .eye-right,
    .logo .nadel-eins-logo .smiley .eye-left {
      fill: black;
      animation: twink 2s linear; }
    .logo .nadel-eins-logo .smiley .smileBar {
      stroke-width: 0.8;
      fill: black; }
    .logo .nadel-eins-logo .smiley .surprise {
      fill: transparent;
      stroke: transparent; }
    .logo .nadel-eins-logo .thunder {
      stroke-width: 3; }

@keyframes twink {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.eye-right {
  transform-origin: 55px 29px 4px;
  animation: twink 5s alternate infinite ease-in; }

.eye-left {
  transform-origin: 31px 29px 4px;
  animation: twink 5s alternate infinite ease-in; }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent; }
  99% {
    fill: red; }
  100% {
    stroke-dashoffset: 0;
    fill: red; } }

.thunder-happens {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate forwards; }

@keyframes slidedown {
  0% {
    transform: translateY(86px); }
  100% {
    transform: translateY(1200px);
    opacity: 0; } }

.drops-go-down {
  animation: slidedown 2s normal forwards ease-in; }
