
.icon-live-tech-cloud {
	background-image: url('png/live-tech-cloud.png');
	background-repeat: no-repeat;
}

.icon-live-tech {
	background-image: url('png/live-tech.png');
	background-repeat: no-repeat;
}

.icon-nadel-eins-logo-record-banner-speaker {
	background-image: url('png/nadel-eins-logo-record-banner-speaker.png');
	background-repeat: no-repeat;
}

.icon-studio {
	background-image: url('png/studio.png');
	background-repeat: no-repeat;
}


.icon-burgerStar_opt-3 {
	background-image: url('png/burgerStar_opt-3.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-burgerStar_opt-2 {
	background-image: url('png/burgerStar_opt-2.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-burgerStar_opt-copy {
	background-image: url('png/burgerStar_opt-copy.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-burgerStar_opt {
	background-image: url('png/burgerStar_opt.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-cloud-line {
	background-image: url('png/cloud-line.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-Consulting {
	background-image: url('png/Consulting.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-consuting-cloud {
	background-image: url('png/consuting-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-Live-prep {
	background-image: url('png/Live prep.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-live-prep-cloud {
	background-image: url('png/live-prep-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-mastering-cloud {
	background-image: url('png/mastering-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-mastering {
	background-image: url('png/mastering.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-mixing-cloud {
	background-image: url('png/mixing-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-mixing {
	background-image: url('png/mixing.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}


.icon-nadel-eins-logo-record-banner {
	background-image: url('png/nadel-eins-logo-record-banner.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-recording-cloud {
	background-image: url('png/recording-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-recording {
	background-image: url('png/recording.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-sound-design {
	background-image: url('png/sound design.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}

.icon-sound-design-cloud {
	background-image: url('png/sound-design-cloud.png');
	background-repeat: no-repeat;
enhanceSVG:true;

}
.icon-arrow-up {
	background-image: url('png/arrow-up.png');
	background-repeat: no-repeat;
}

.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
}

.icon-nadel-eins-logo-record-banner {
	background-image: url('png/nadel-eins-logo-record-banner.png');
	background-repeat: no-repeat;
}
