
.icon-burgerStar_opt Copy {
	background-image: url('png/burgerStar_opt Copy.png');
	background-repeat: no-repeat;
}

.icon-burgerStar_opt {
	background-image: url('png/burgerStar_opt.png');
	background-repeat: no-repeat;
}

.icon-cloud-darker {
	background-image: url('png/cloud-darker.png');
	background-repeat: no-repeat;
}

.icon-cloud-lighter {
	background-image: url('png/cloud-lighter.png');
	background-repeat: no-repeat;
}

.icon-consulting-cloud {
	background-image: url('png/consulting-cloud.png');
	background-repeat: no-repeat;
}

.icon-consulting {
	background-image: url('png/consulting.png');
	background-repeat: no-repeat;
}

.icon-down {
	background-image: url('png/down.png');
	background-repeat: no-repeat;
}

.icon-live-prep-cloud {
	background-image: url('png/live-prep-cloud.png');
	background-repeat: no-repeat;
}

.icon-live-prep {
	background-image: url('png/live-prep.png');
	background-repeat: no-repeat;
}

.icon-mastering-cloud {
	background-image: url('png/mastering-cloud.png');
	background-repeat: no-repeat;
}

.icon-mastering {
	background-image: url('png/mastering.png');
	background-repeat: no-repeat;
}

.icon-mixing-cloud {
	background-image: url('png/mixing-cloud.png');
	background-repeat: no-repeat;
}

.icon-mixing {
	background-image: url('png/mixing.png');
	background-repeat: no-repeat;
}

.icon-nadel-eins-logo-record-banner {
	background-image: url('png/nadel-eins-logo-record-banner.png');
	background-repeat: no-repeat;
}

.icon-play {
	background-image: url('png/play.png');
	background-repeat: no-repeat;
}

.icon-recording-cloud {
	background-image: url('png/recording-cloud.png');
	background-repeat: no-repeat;
}

.icon-recording {
	background-image: url('png/recording.png');
	background-repeat: no-repeat;
}

.icon-slide-left {
	background-image: url('png/slide-left.png');
	background-repeat: no-repeat;
}

.icon-slide-right {
	background-image: url('png/slide-right.png');
	background-repeat: no-repeat;
}

.icon-sound-design-cloud {
	background-image: url('png/sound-design-cloud.png');
	background-repeat: no-repeat;
}

.icon-sound-design {
	background-image: url('png/sound-design.png');
	background-repeat: no-repeat;
}